<html>
   <head>
         <title>Phishing website Predictor</title>
   </head>
   
   <body>
      <h1 style="text-align: center;margin-top: 50px;">Phishing website Predictor</h1>
      <p style="text-align: center;margin-top: 50px;font-size: 20px;">A Tool to predict whether a website is an Phishing website or Legitimate website by analysing the URL of the website</p> 
      <p style="text-align: center;margin-top: 50px;font-size: 20px;">Done by</p> 
      <p style="text-align: center;margin-top: 20px;font-size: 20px;">Waseem Akram (160071601153)</p> 
      <p style="text-align: center;margin-top: 20px;font-size: 20px;">Sreyas (160071601137)</p> 
      <div style="display: flex;width: 100%;align-items: center; justify-content: center;margin-top: 50px;">
         <button style="width: 200px;height: 50px;font-size: 18px;" onclick="location.href='/app'">Start</button>
      </div>
   </body>
</html>